<section
  class="w-full flex flex-col gap-5 justify-center items-center px-4 py-32"
>
  <div class="flex flex-col gap-2">
    <h1
      class="w-full max-w-xl sm:text-center text-3xl sm:text-5xl md:text-7xl font-medium tracking-tighter text-pretty"
    >
      Always building things for the web.
    </h1>
    <p
      class="w-full max-w-xl text-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter text-balance"
    >
      I'm a software engineer based in Cancún, México. I love building things
      for the web and sharing my knowledge with others.
    </p>
  </div>
  <div class="w-full flex flex-wrap gap-3 items-center justify-center">
    <a
      href="https://x.com/gonzalochale"
      target="_blank"
      rel="noopener noreferrer"
      class="relative w-fit flex gap-2 justify-center items-center px-4 py-2 sm:px-6 sm:py-3 sm:text-lg font-medium text-background bg-primary rounded-full perfect-shadow"
    >
      Connect on <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1200"
        height="1227"
        fill="none"
        viewBox="0 0 1200 1227"
        class="size-5"
        ><path
          fill="currentColor"
          d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"
        ></path></svg
      >
      <div
        class="z-[-1] bg-gradient-to-b from-secondary via-primary to-primary absolute w-[calc(100%-4px)] h-[calc(100%-4px)] rounded-full border-t-2 border-secondary"
      >
      </div>
    </a>
  </div>
</section>

<style>
  @keyframes heroIn {
    0% {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    60% {
      opacity: 1;
      transform: translateY(-0.05rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    opacity: 0;
    animation: heroIn 0.7s cubic-bezier(0.5, 1.15, 0.2, 1.1) forwards;
  }
  p {
    opacity: 0;
    animation: heroIn 0.7s cubic-bezier(0.5, 1.15, 0.2, 1.1) 0.3s forwards;
  }
  a {
    opacity: 0;
    animation: heroIn 0.7s cubic-bezier(0.5, 1.15, 0.2, 1.1) 0.6s forwards;
  }
</style>
